/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
/coverage
.phpunit.cache/
./.phpunit.cache/
/*.sql

/.php-cs-fixer.cache.php
/.php-cs-fixer.cache.json
/.php-cs-fixer.cache
/.php-cs-fixer.cache.php