*{
   box-sizing: border-box !important; 
}

body{
    padding-right: 0px !important; 
 }

div.card .card-body, div.card .card-footer{display: none;}
.input-pdv{
border: 3px solid rgb(180, 173, 173, 0.5);
}

.obs-pdv{
    height: 20vh;
    border: 3px solid rgb(180, 173, 173, 0.5);
}

.container-itens-pdv{
    height: 60vh;
    border: 3px solid rgb(180, 173, 173, 0.5);
}

.btn-acoes-dpv, .btn-operador-pedidos-pdv, .btn-concluir-pdv{
    width: 100%;
    height: 8vh;
    border-radius: 50px;
    font-weight: bolder;
}


.btn-pesquisa{
    cursor: pointer;
}

.c-load{
    animation: is-rotating 1s infinite;
    border: 10px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 80px;
    width: 80px;
    text-align: center;
    margin: auto;
}

@keyframes is-rotating {
    to{
        transform: rotate(1turn);
    }
}

.data-table{
    width: 100% !important;
    max-height: 500px !important;
    font-size: 14px !important;
}

.data-table th{
    text-transform: uppercase !important;
    font-weight: bolder !important;
    min-width: 200px !important;
}
.data-table th:first-child{
    min-width: auto !important;
}

.data-table td{
    text-transform: uppercase !important;
    width: 200px !important;
}

.modal-title{
    text-transform: uppercase !important;
    font-weight: bolder !important;
}

form * label{
    font-size: 14px !important;
    text-transform: uppercase !important;
}

.modal-open {
    overflow: scroll !important;
}

.modal-open .modal {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}